<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dao.AdminDao">

    <resultMap id="BaseResultMap" type="com.cloud.entity.Admin" >
        <result column="uuid" property="uuid" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="role_id" property="roleId" />
        <result column="head_pic" property="headPic" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <sql id="Base_Column_List">
                uuid,
                name,
                phone,
                password,
                role_id,
                head_pic,
                status,
                create_time,
                modify_time
    </sql>

    <insert id="insert" parameterType="com.cloud.entity.Admin">
        INSERT INTO tb_sys_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != uuid'>
                uuid,
            </if>
            <if test ='null != name'>
                name,
            </if>
            <if test ='null != phone'>
                phone,
            </if>
            <if test ='null != password'>
                password,
            </if>
            <if test ='null != roleId'>
                role_id,
            </if>
            <if test ='null != headPic'>
                head_pic,
            </if>
            <if test ='null != status'>
                status,
            </if>
            <if test ='null != createTime'>
                create_time,
            </if>
            <if test ='null != modifyTime'>
                modify_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != uuid'>
                #{uuid},
            </if>
            <if test ='null != name'>
                #{name},
            </if>
            <if test ='null != phone'>
                #{phone},
            </if>
            <if test ='null != password'>
                #{password},
            </if>
            <if test ='null != roleId'>
                #{roleId},
            </if>
            <if test ='null != headPic'>
                #{headPic},
            </if>
            <if test ='null != status'>
                #{status},
            </if>
            <if test ='null != createTime'>
                #{createTime},
            </if>
            <if test ='null != modifyTime'>
                #{modifyTime}
            </if>
        </trim>
    </insert>

    <select id="query" resultMap="BaseResultMap">
      select * from tb_sys_admin
    </select>

    <update id="update" parameterType="com.cloud.entity.Admin">
        UPDATE tb_sys_admin
        <set>
            <if test ='null != uuid'>uuid = #{uuid},</if>
            <if test ='null != name'>name = #{name},</if>
            <if test ='null != phone'>phone = #{phone},</if>
            <if test ='null != password'>password = #{password},</if>
            <if test ='null != roleId'>role_id = #{roleId},</if>
            <if test ='null != headPic'>head_pic = #{headPic},</if>
            <if test ='null != status'>status = #{status},</if>
            <if test ='null != createTime'>create_time = #{createTime},</if>
            <if test ='null != modifyTime'>modify_time = #{modifyTime}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>